#main-div {
  border: solid #ccc;
  background-color: #ccc;
  text-align: center;
}

.sub-div {
  background-color: #000;
  color: #fff;
  height: 100px;
  text-align: center;
}

#task-form {
  display: flex;
  text-align: center;
  justify-content: center;
}

#task {
  margin: 10px;
  height: 30px;
  font-size: 20px;
  width: 70%;
}

.submit-btn {
  margin: 10px;
  text-align: center;
  height: 30px;
  width: 30%;
}

.list-ul {
  display: inline-block;
  width: 100%;
}

.list-li {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px gray;
  text-align: left;
  height: 30px;
  font-size: 20px;
  max-width: 80%;
  list-style: none;
}

.finish-task {
  text-decoration: line-through;
  background-color: rgb(92, 194, 92);
  list-style: none;
  font-size: 20px;
  text-align: left;
  color: white;
  max-width: 80%;
  height: 30px;
}

.remove-all {
  background-color: black;
  color: white;
  font-size: 20px;
}

.remove-a {
  text-align: end;
  color: black;
}
.check-input {
  opacity: 0;
}

.check-input:hover,
.check-input:checked + .list-li :after {
  opacity: 1;
  color: black;
  content: "✓";
}
