#main-div {
  border: solid #ccc;
  background-color: #ccc;
  text-align: center;
}

.sub-div {
  background-color: #000;
  color: #fff;
  height: 100px;
  text-align: center;
}

.list-div {
  background-color: rgb(218, 214, 214);
  color: black;
  width: 100%;
  height: auto;
}

#task-form {
  display: flex;
  text-align: center;
  justify-content: center;
}

#task {
  margin: 10px;
  height: 30px;
  font-size: 20px;
  width: 100%;
}

.submit-btn {
  margin: 10px;
  text-align: center;
  height: 30px;
  width: 30%;
}

.list-ul {
  display: inline-block;
  width: 100%;
}

.list-li {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px gray;
  margin: 1px;
  padding-top: 6px;
  text-align: left;
  height: 40px;
  font-size: 20px;
  max-width: 80%;
  list-style: none;
}

.finish-task {
  text-decoration: line-through;
  background-color: rgb(15, 95, 15);
  list-style: none;
  font-size: 20px;
  text-align: left;
  color: white;
  max-width: 80%;
  margin: 1px;
  padding-top: 6px;
  height: 40px;
}

.remove-all {
  background-color: black;
  color: white;
  font-size: 20px;
}

.remove-a {
  position: absolute;
  color: black;
  right: 18%;
}
.check-input {
  opacity: 0;
}

.check-input:hover,
.check-input:checked + .list-li :after {
  opacity: 1;
}
